.links-navbar {
  font-size: 14px;
  text-decoration: none;
  line-height: 14px;
  color: #fff;
  transition: filter 1s;
}

.hover-class {
  transition: filter 1s;
}

.hover-class:hover {
  filter: brightness(80%);
}
