.links-navbar {
  font-size: 14px;
  text-decoration: none;
  line-height: 14px;
  color: #fff;
  transition: filter 1s;
  cursor: pointer;
  z-index: 9999;
  position: relative;
}

.hover-class {
  transition: filter 1s !important;
}

.hover-class:hover {
  filter: brightness(80%);
}

.display-4 {
  font-size: 49px;
  line-height: 59.73px;
  font-weight: 400;
}

.text-18px {
  font-weight: 500;
  font-size: 18px;
  line-height: 31.9px;
}

.text-14px {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.text-12px {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.color-gray {
  color: #6f6f6f;
}
.error {
  color: red;
}

.color-testimonals {
  color: #5e5873;
}

.btn-primarys {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 17.07px !important;
  letter-spacing: 0.4000000059604645px !important;
  text-align: center;
  background: #7d45dc !important;
  border: 1px solid #7d45dc;
  color: #fff !important;
  min-width: 141px;
  min-height: 38px;
}
